doctype html
html(lang="en")
    head
        include templates/head
    body
        include templates/navbar
        .container
            include templates/about
            hr
            include templates/projects
            hr
            include templates/contact
            .row
                p.source-button
                    a.btn.btn-primary(href='https://github.com/texas2010/texas2010.github.io', target='_blank') My Source Files