// about
.row
    .col-sm-2
    .col-xs-12.col-sm-8
        h1#about.text-center.text-primary About
        p.text-center.lead
            | I am self-taught programmer who loves to teach programming whose aim is to become a front-end and backend web developer.
        .row.center-block
            .col-sm-6.col-md-4
                p Languages
                ul
                    li HTML
                    li CSS
                    li JavaScript
                    li PHP
                    li MySQL
            .col-sm-6.col-md-4
                p Libraries/Framework
                ul
                    li Bootstrap
                    li jQuery
            .col-sm-6.col-md-4
                p Tools
                ul
                    li Visual Studio Code
                    li Git
                    li Terminal
                    li Gulp.js
    .col-sm-2
// END about