// contact
.row
    .col-sm-12
        h1#contact.text-center.text-primary Contact
        p.center-block.col-sm-12
            a.btn.btn-default(target='_blank', href='https://github.com/texas2010') Github/texas2010
            |  |
            a.btn.btn-default(target='_blank', href='https://www.freecodecamp.org/texas2010') freeCodeCamp/texas2010
// END contact