nav.navbar.navbar-static-top.bg-primary
    .container
        .navbar-header
            a.navbar-brand.text-center.col-xs-12.text-white(href='/') Lance
        #navbar.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li: a.text-center.text-white(href='#') Home
                li: a.text-center.text-white(href='#about') About
                li: a.text-center.text-white(href='#projects') Projects
                li: a.text-center.text-white(href='#contact') Contact